# --- Variables for Docker Compose ---
db_name_env=
db_user_env=
db_password_env=
db_host_env=

# --- Variables for your Python App (Fixes the "None" error) ---
# IMPORTANT: This must match the service name of your database in docker-compose.yml
# Based on your logs ("Container rag_assistant Created"), the host is:
DB_HOST=

# These usually just map to the values above, but Python needs to see them
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# --- Variables for Security (From your first code snippet) ---
SECRET_KEY_env=
ALGO_env=
ACCESS_TOKEN_EXPIRE_MINUTES=

# hugg face
hf_token_env=